body{
    margin:0;
    background:#000;
    color:#fff;
    font-family:Arial,sans-serif;
}

/* COVER */
.cover{
    width:100%;
    text-align:center;
    background:#000;
}

.cover img{
    width:100%;
    height:auto;
    display:block;
}

/* PROFILE */
.profile{
    text-align:center;
    margin-top:-80px;
    position:relative;
    z-index:10;
}

.profile img{
    width:150px;
    height:150px;
    border-radius:50%;
    border:4px solid #7c3aed;
    box-shadow:0 0 25px #7c3aed;
}

/* HEADER */
header{
    text-align:center;
    padding:20px;
}

header h1{
    font-size:60px;
    margin:10px 0;
}

header p{
    color:#b388ff;
}

.social-links{
    margin-top:15px;
}

.social-links a{
    color:#b388ff;
    text-decoration:none;
    margin:0 10px;
    font-weight:bold;
}

.social-links a:hover{
    color:#fff;
}

/* HERO */
.hero{
    text-align:center;
    padding:60px 20px;
}

/* CARDS */
.cards{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
    padding:20px;
}

.card{
    width:280px;
    background:#111;
    border:1px solid #7c3aed;
    border-radius:15px;
    padding:20px;
    transition:.3s;
}

.card:hover{
    transform:translateY(-8px);
    box-shadow:0 0 25px #7c3aed;
}

/* YOUTUBE SECTION */
.latest{
    max-width:1400px;
    margin:auto;
    padding:50px 20px;
}

.latest h2{
    text-align:center;
    margin-bottom:30px;
}

/* VIDEO GRID */
.video-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:25px;
}

.video-card{
    background:#111;
    border:1px solid #7c3aed;
    border-radius:15px;
    overflow:hidden;
    transition:.3s;
}

.video-card:hover{
    transform:translateY(-8px);
    box-shadow:0 0 25px #7c3aed;
}

.video-card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.video-card h3{
    padding:15px;
    margin:0;
}

.video-card a{
    display:block;
    padding:0 15px 20px;
    color:#b388ff;
    text-decoration:none;
}

/* FOOTER */
footer{
    text-align:center;
    padding:40px;
    margin-top:30px;
}

/* MOBILE */
@media(max-width:768px){

header h1{
    font-size:36px;
}

.profile img{
    width:110px;
    height:110px;
}

.hero{
    padding:40px 15px;
}

.video-grid{
    grid-template-columns:1fr;
}

.card{
    width:90%;
}
}
